.introduction
    height: 100%
    overflow: auto
    padding-bottom: 20rem
    .meet-me
        padding-top: 5rem
        .main-img
            height: 50rem
            @media only screen and (max-width: 970px)
                margin-right: 10rem
                margin-left: 5rem
            @media only screen and (max-width: 664px)
                height: 40rem
                text-align: center
            @media only screen and (max-width: 475px)
                height: 25rem

            &:before
                background-image: url('../img/pink-drawings/notes-guitar.png') 
                background-size: 15rem 15rem;
                position: absolute
                left: 83%;
                top: 20%;
                display: inline-block;
                width: 15rem
                height: 15rem
                content: ''
                @media only screen and (max-width: 960px)
                    left: 67%;

            &:after
                background-image: url('../img/pink-drawings/this-is-me.png') 
                background-size: 30rem 15rem;
                position: absolute
                display: inline-block;
                width: 30rem
                height: 15rem
                content: ''
                @media only screen and (max-width: 960px)
                    bottom: -23%;
                    left: 0;
                @media only screen and (max-width: 664px)
                    background-size: 20rem 10rem
                    width: 20rem
                    height: 10rem
                    

            img 
                height: 100%
                

        .main-text
            height: 50rem
            @media only screen and (max-width: 970px)
                margin-left: 0
                margin-top: 10rem
            h2 
                font-family: $pacifico
                color: $main-blue
                font-size: 50px
            .meet-me-line
                position: absolute
                width: 23rem
                left: 50%
                top: 45%
                transform: translateX(-50%) rotate(-4deg)
                @media only screen and (max-width: 742px)
                    top: 42%
                @media only screen and (max-width: 500px)
                    top: 40%   
                img
                    width: 100%

            
            p
                margin-top: 2rem
                font-size: 20px
                font-family: $rubik
                color: $main-blue
                line-height: 1.5rem

.capabilities
    margin-top: 30rem
    position: relative
    @media only screen and (max-width: 970px)
        margin-top: 0rem
    @media only screen and (max-width: 664px)
        margin-top: 10rem
    &--main-title
        position: relative
        h2
            font-family: $pacifico
            color: $main-blue
            font-size: 50px 
            margin-bottom: 2rem
        &-line
            position: absolute
            width: 30rem
            left: 50%
            top: 2rem
            transform: translateX(-50%) rotate(2deg)

            img
                width: 100%
       

    .main-content
        position: relative
        margin-top: 3rem
        @media only screen and (max-width: 810px)
            display: none
            .col
                margin-bottom: 4rem
                text-align: center !important
        img
            width: 30rem
            @media only screen and (max-width: 664px)
                width: 24rem
                float: none !important
        &--description
            position: relative
            top: 50%
            transform: translateY(-50%)
            font-family: $rubik
            color: $main-blue
            line-height: 1.5rem
            h2
                font-family: $rubik
                font-weight: 700
                font-size: 50px 
                margin-bottom: 2rem
        .description-design
            h2
                position: relative;
                z-index: 11;
            &--main-title-line
                position: absolute
                width: 30rem
                z-index: 10
                left: 5rem;
                top: -.5rem;
                transform: translateX(-50%) rotate(2deg)
                img
                    width: 100%


        .description-develop
            h2
                position: relative;
                z-index: 11;
            &--main-title-line
                position: absolute
                width: 30rem
                z-index: 10
                right: -23rem;
                top: 0.2rem;
                transform: translateX(-50%) rotate(2deg)
                img
                    width: 100%

        .description-learn
            h2
                position: relative;
                z-index: 11;
            &--main-title-line
                position: absolute
                width: 30rem
                z-index: 10
                left: 5rem;
                top: -.5rem;
                transform: translateX(-50%) rotate(2deg)
                img
                    width: 100%

        &--mobile
            margin-top: 10rem
            @media only screen and (min-width: 810px)
                display: none
            .col
                overflow: hidden
            img
                width: 70%
            .description
                &-design
                    &--mobile--main-title-line
                        position: absolute
                &-develop
                    &--mobile--main-title-line
                        position: absolute
                &-learn
                    &--mobile--main-title-line
                        position: absolute
