<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" type="image/png" href="<%= require('./img/favicons/computer.png') %>" />
    <meta name="description" content="A personal website for me, a frontend developer Anže Fajfar." />
    <meta name="keywords" content="HTML,CSS,JavaScript,Developer,Frontend,Junior,Anže,Fajfar,Fajfara,Discord">
    <meta name="author" content="Anže Fajfar">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="canonical" href="https://www.fajfara.com" />

    <title>Anže Fajfar</title>
</head>

<body>
    <!-- Overlay navigation -->
    <!-- The overlay -->
    <div id="overlayNavigation" class="overlay">

        <!-- Overlay content -->
        <div class="overlay-content">
            <a class="overlay-content-nav-links" href="#aboutme">About me</a>
            <a class="overlay-content-nav-links" href="#capabilities">Capabilities</a>
            <a class="overlay-content-nav-links" href="#">Programming talents</a>
            <a class="overlay-content-nav-links" href="#">Project showcase</a>
            <a class="overlay-content-nav-links" href="#">Lets talk</a>
        </div>

    </div>
    <div class="nav-background" id="nav-background">

    </div>
    <div class="mobile-nav">
        <button id="hamburgerMobile" class="hamburger hamburger--elastic hamburger-main-blue" type="button" opened="false">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>
    </div>
    <div class="container logo-and-menu" id="logo-and-menu">
        <div class="row d-flex justify-content-between align-items-center">
            <div class="logo" id="logo">
                <a href="#">FAJFARA.</a>
            </div>
            <div class="menu-icon">
                <button id="hamburgerMain" class="hamburger hamburger--elastic" type="button" opened="false">
                    <span class="hamburger-box">
                        <span class="hamburger-inner"></span>
                    </span>
                </button>
            </div>
        </div>
    </div>
    <section class="landing">
        <div class="container main-content text-center">
            <h1>Hello</h1>
            <span>My name is Anže</span>
        </div>

    </section>
    <section class="introduction" id="aboutme">
        <div class="container meet-me">
            <div class="row">
                <div class="col-sm main-img">
                    <img src="<%= require('./img/me-guitar-jpg.jpg') %>" alt="Illustration of me playing guitar">
                </div>
                <div class="col-sm offset-sm-2 main-text text-center d-flex align-items-center">
                    <div class="text-center">
                        <h2>Meet me</h2>
                        <div class="meet-me-line">
                            <img src="<%= require('./img/pink-drawings/line-meet-me.png') %>" alt="Pink line under meet me title">
                        </div>
                        <p class="text-left">I am a junior front-end developer with a goal of becoming fullstack. At
                            the
                            moment i am studying
                            computer science at FRI. I love programming and music. In my spare time i play guitar and
                            learn
                            new things.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-fluid capabilities text-center" id="capabilities">
            <div class="capabilities--main-title">
                <h2>Capabilities</h2>
                <div class="capabilities--main-title-line">
                    <img src="<%= require('./img/pink-drawings/line-capabilites.png') %>" alt="Pink line under capabilities line">
                </div>
            </div>

            <div class="row main-content">
                <div class="col">
                    <img class="float-right" src="<%= require('./img/design-illustration-jpg.jpg') %>" alt="Design illustration">
                </div>
                <div class="col offset-1 text-left">
                    <div class="main-content--description description-design">
                        <h2>Design</h2>
                        <div class="description-design--main-title-line">
                            <img src="<%= require('./img/pink-drawings/design-line.png') %>" alt="Line under design title">
                        </div>
                        <p>I design unique,</p>
                        <p>but functional UI/UX.</p>
                        <p>My moto is, just have fun.</p>
                    </div>
                </div>
            </div>

            <div class="row main-content">
                <div class="col text-right">
                    <div class="main-content--description description-develop">
                        <h2>Develop</h2>
                        <div class="description-develop--main-title-line">
                            <img src="<%= require('./img/pink-drawings/develop-line.png') %>" alt="line under develop title">
                        </div>
                        <p>Transfrom a desing</p>
                        <p>from idea to reality.</p>
                        <p>Learn more about my skills.</p>
                    </div>

                </div>
                <div class="col offset-1">
                    <img class="float-left" src="<%= require('./img/working-illustration-jpg.jpg') %>" alt="Develop illustration">
                </div>
            </div>

            <div class="row main-content">
                <div class="col">
                    <img class="float-right" src="<%= require('./img/learning-illustration-jpg.jpg') %>" alt="Learning illustration">
                </div>
                <div class="col text-left offset-1">
                    <div class="main-content--description description-learn">
                        <h2>Learn</h2>
                        <div class="description-learn--main-title-line">
                            <img src="<%= require('./img/pink-drawings/learn-line.png') %>" alt="Line under learn title">
                        </div>
                        <p>Keep learning,</p>
                        <p>Technology never sleeps.</p>
                    </div>
                </div>
            </div>

            <!-- Mobile content -->
            <div class="row main-content--mobile">
                <div class="col-12">
                    <div class="main-content--description description-design margin-bottom-5rem">
                        <h2>Design</h2>
                        <div class="description-design--mobile--main-title-line">
                            <img src="<%= require('./img/pink-drawings/design-line.png') %>" alt="Line under design title">
                        </div>
                        <p>I design unique,</p>
                        <p>but functional UI/UX.</p>
                        <p>My moto is, just have fun.</p>
                    </div>
                </div>
                <div class="col-12">
                    <img src="<%= require('./img/design-illustration-jpg.jpg') %>" alt="Design illustration">
                </div>

            </div>

            <div class="row main-content--mobile">
                <div class="col-12">
                    <div class="main-content--description description-develop margin-bottom-5rem">
                        <h2>Develop</h2>
                        <div class="description-develop--mobile--main-title-line">
                            <img src="<%= require('./img/pink-drawings/develop-line.png') %>" alt="line under develop title">
                        </div>
                        <p>Transfrom a desing</p>
                        <p>from idea to reality.</p>
                        <p>Learn more about my skills.</p>
                    </div>

                </div>
                <div class="col-12">
                    <img src="<%= require('./img/working-illustration-jpg.jpg') %>" alt="Develop illustration">
                </div>
            </div>

            <div class="row main-content--mobile">
                <div class="col-12">
                    <div class="main-content--description description-learn margin-bottom-5rem">
                        <h2>Learn</h2>
                        <div class="description-learn--mobile--main-title-line">
                            <img src="<%= require('./img/pink-drawings/learn-line.png') %>" alt="Line under learn title">
                        </div>
                        <p>Keep learning,</p>
                        <p>Technology never sleeps.</p>
                    </div>
                </div>
                <div class="col-12">
                    <img src="<%= require('./img/learning-illustration-jpg.jpg') %>" alt="Learning illustration">
                </div>

            </div>


        </div>
    </section>
</body>

</html>